# General UID/GID and Timezone
TZ=Europe/Helsinki
PUID=1000
PGID=1000

# VPN provider and type
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard

# Mandatory, forwarded port
VPN_PORT_FORWARDING=on

# Copy from your generated WireGuard configuration file
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key_here

# Optional location variables, comma separated, no spaces after commas
SERVER_COUNTRIES=Sweden

# Health check duration
HEALTH_VPN_DURATION_INITIAL=120s
